/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/*
 * Base structure
 */

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.jumbotron {
  border-radius: 0px !important;
}
.gap {
  padding: 4px;
}
.gap-none {
  padding: 0px; /* Reset grid padding */
}
@media (min-width: 992px) {
  .gap {
    padding: 0px; /* Reset grid padding */
  }
  .gap + .gap {
    padding-top: 8px;
  }
  .gap-side {
    padding-right: 4px;
    padding-left: 4px;
  }
}
.grid-box {
  background-color: #7a7a7a;
  position: relative;
  width: 100%;
}
.grid-box:before {
  content: "";
  display: block;
  padding-top: 75%;  /* initial ratio of 1:1*/
}
.box-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#box {
  color: #fff;
  text-align: center;
}

/*
 * Header
 */

.page-header {
  border-bottom: none;
}
.nav-header {
  margin-top: 48px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.nav-pills > li > a {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #eee;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #337ab7;
  border-bottom-color: #eee;
  border-bottom-width: 2px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Footer
 */

footer {
  color: #fff;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #272727;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #121212;
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #272727;
  background: #fff;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}