h4 {
  margin-top: 25px;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-header {
  border-bottom: none;
}
.nav-header {
  margin-top: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.jumbotron {
  border-radius: 0px !important;
}