h4 {
  margin-top: 25px;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-header {
  border-bottom: none;
}
.nav-header {
  margin-top: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.jumbotron {
  border-radius: 0px !important;
}


footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}