h4 {
  margin-top: 25px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-header {
  border-bottom: none !important;
}

.nav-header {
  margin: 49px 0 20px;
  padding: 9px 0 9px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.jumbotron {
  background-color: #fff !important;