h4 {
  margin-top: 25px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.brand-header {
  margin-top: 40px;
}

.nav-header {
  margin: 60px 0 20px;
  padding: 9px 0 9px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}