h4 {
  margin-top: 25px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-header {
  padding-bottom: 50px !important;
}

.sub-header {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
}