/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}
.fa-arrow-circle-left:hover,
.fa-arrow-circle-right:hover {
  color: #337ab7;
}

/*
 * Base structure
 */

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.jumbotron {
  border-radius: 0px !important;
}
/* Carousel products */
.gap {
  padding-top: 12px;
  padding-right: 4px;
  padding-left: 4px;
}
.thumbnails {
  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
}
.img-thumbnail:hover {
  background-color: #bfbfbf;
}
.thumbnails .active {
  background-color: #337ab7;
}

@media only screen and (max-width: 991px) {
  .fa-3x {
    font-size: 6vw !important;
  }
}

/*
 * Header
 */

.page-header {
  border-bottom: none;
}
.nav-header {
  margin-top: 48px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.nav-pills > li > a {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #eee;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #337ab7;
  border-bottom-color: #eee;
  border-bottom-width: 2px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Footer
 */

footer {
  color: #fff;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #272727;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #121212;
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #272727;
  background: #fff;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}